<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
<main>
  <nav class="text-whit navbar navbar-expand-lg navbar-light bg-primary">
    <ul style="display: flex; justify-content: space-between;" class="navbar-nav d-flex flex-row justify-content-end">
      <li class="mr-5 nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="mr-5 ml-5 nav-item">
        <a class="nav-link" href="/contact">contact</a>
      </li>
      <li class="ml-5 nav-item">
        <a class="nav-link" href="/about">about</a>
      </li>
    </ul>
  </nav>
      
  <div class="jumbotron bg-success">
    <h1 style="text-align: center;">About page</h1>
    <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quod consectetur? Maiores veritatis alias dolore. Dolor odio iste ab autem natus, blanditiis nulla illum. Repellendus officiis similique repudiandae voluptatem! Dolor?</p>
    <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quod consectetur? Maiores veritatis alias dolore. Dolor odio iste ab autem natus, blanditiis nulla illum. Repellendus officiis similique repudiandae voluptatem! Dolor?</p>
  </div>
</main>

</body>
</html